<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta name="description" content="Sector's Edge tournament information and teams">
  <meta name="keywords" content="#7Days7Websites, the noah, vercidium, sectors edge, tournament, salvage cup">
  <meta name="author" content="The Noah">
  <meta property="og:description" content="Sector's Edge tournament information and teams">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="Sector's Edge Tournament">
  <meta property="og:site_name" content="Sector's Edge Tournament">
  <meta property="og:url" content="https://the-noah.github.io/sectors-edge-tournament">
  <meta property="og:image" content="https://the-noah.github.io/sectors-edge-tournament/favicon.ico">
  <title>Sector's Edge Tournament</title>
  <style><%- css.style -%></style>
</head>
<body>
  <div style="flex:1">
    <div class="banner">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 211.667 51.393"><g transform="translate(110.86 -350.195)"><path d="M-62.655 358.674v25.972l4.895-2.826-.02-20.333zm148.786 3.354l-9.788 5.664v22.593l4.891-2.824v-5.649l4.892 2.824 9.783-5.648v-11.296zm-89.107 0l-9.779 5.663v11.297l9.783 5.648 4.892-2.824v2.824l-4.891 2.825v5.648l9.783-5.648v-19.77zm-71.432.015l-9.785 5.648v11.296l9.785 5.651 2.937-1.695v-5.652l-2.937 1.696-4.893-2.822v-5.651l4.897-2.826 4.896 2.826v11.304l4.892 2.823v-16.95l-9.784-5.648zm49.922 0l-9.784 5.648v11.296l9.784 5.651 2.937-1.695v-5.652l-2.937 1.696-4.892-2.822v-5.651l4.896-2.826 4.897 2.826v11.304l4.892 2.823v-16.95l-9.785-5.648zm43.07 0L8.8 367.691v11.296l9.785 5.651 9.784-5.648v-5.651l-9.784 5.648-4.893-2.822v-5.651l9.784-5.646zm24.466 0l-9.785 5.648v11.296l9.785 5.651 9.784-5.648v-5.65l-9.784 5.647-4.892-2.822v-5.651l9.784-5.645zm-139.23.139l-9.783 5.648v2.825l13.452 7.766-3.668 2.119-6.115-3.53v-1.413l-3.67-2.118v5.647l9.784 5.648 9.782-5.648v-2.823l-13.452-7.767 3.67-2.118 6.114 3.53v1.412l3.668 2.119v-5.652zm55.05 2.68v11.298l-4.891 2.825-4.894-2.825v-11.296l-4.893 2.824v11.297l9.783 5.649 9.786-5.648v-11.298zm110.615 0v11.299l-4.891 2.825-4.894-2.826v-11.296l-4.894 2.824v11.297l9.783 5.649 9.786-5.648v-11.298zm-72.457 2.823l4.892 2.824v5.65l-4.892 2.823-4.892-2.824v-5.649zm89.098 0l4.891 2.824v5.649l-4.891 2.824-4.891-2.824v-5.649zm-65.095 1.413l-4.893 2.825v2.823l2.447 1.413 4.891-2.826v-2.822z" fill="#ececec"/><path d="M-86.397 367.834l-3.669 2.118v1.412l3.669 2.118zm-7.337 4.237l-2.445 1.412v2.824l3.668 2.117-3.668 2.119v4.236l9.783-5.647v-2.825z" opacity=".3"/><path d="M-105.962 367.835v2.824l9.782 5.648v-2.824zm-.002 5.647l.002 5.647 9.782 5.648v-4.234l-6.115-3.53V375.6z" opacity=".15"/><path d="M-64.616 367.691l-4.892 2.823v11.304l4.892 2.823zm-6.854 9.602l-2.936 1.695v5.652l2.936-1.696z" opacity=".3"/><path d="M-79.306 370.514l-4.891-2.824v11.297l4.891 2.827 4.9 2.826v-5.652l-4.894-2.826z" opacity=".15"/><path d="M-19.6 370.516l4.907-2.825v16.95l-4.901-2.827z" opacity=".3"/><path d="M-29.383 370.514l-4.892-2.824v11.297l4.892 2.827 4.9 2.826v-5.652l-4.895-2.826z" opacity=".15"/><path d="M-21.547 377.293l-2.936 1.695v5.652l2.936-1.696z" opacity=".3"/><path d="M8.8 367.691v11.297l9.785 5.648v-5.648l-4.893-2.823v-5.651zm7.338 4.236v2.825l2.447 1.413v-2.825z" opacity=".15"/><path d="M23.48 370.517l-4.893 2.825v2.826l4.892-2.826zm4.889 2.825l-9.782 5.649v5.648l9.782-5.648z" opacity=".3"/><path d="M-12.735 367.691v11.297l9.784 5.648v-5.648l-4.892-2.823v-5.651z" opacity=".15"/><path d="M6.811 367.692l-4.892 2.824v5.648l-4.891 2.825v5.648l4.892-2.824v2.82l-4.889 2.828v5.648l9.782-5.648z" opacity=".3"/><path d="M-55.805 367.691v11.297l9.782 5.649v-5.648l-4.894-2.826v-5.649z" opacity=".15"/><path d="M-36.236 367.692v11.296l-9.782 5.649-.001-5.648 4.893-2.826v-5.649zm-21.527 2.825l-4.894-2.826v16.955l4.894-2.826z" opacity=".3"/><path d="M33.268 367.696v11.296l9.782 5.65.002-5.648-4.894-2.826v-5.65z" opacity=".15"/><path d="M52.829 378.992l-9.782 5.65-.001-5.648 9.788-5.651z" opacity=".3"/><path d="M54.81 367.695v11.296l9.782 5.649.001-5.648-4.894-2.825v-5.65z" opacity=".15"/><path d="M74.379 367.695v11.296l-9.782 5.649-.001-5.648 4.893-2.825v-5.65z" opacity=".3"/><path d="M76.342 367.69v22.595l4.892-2.824v-5.649l4.89 2.824.001-5.648-4.893-2.825v-5.65z" opacity=".15"/><path d="M-62.655 358.674v25.972l4.895-2.826-.02-20.333zm148.785 3.354l-9.787 5.664v22.593l4.891-2.824v-5.649l4.892 2.824 9.783-5.648v-11.296zm-89.106 0l-9.779 5.663v11.297l9.783 5.648 4.892-2.824v2.824l-4.891 2.825v5.648l9.783-5.648v-19.77zm-71.432.015l-9.785 5.648v11.296l9.785 5.651 2.937-1.695v-5.652l-2.937 1.696-4.893-2.822v-5.651l4.897-2.826 4.896 2.826v11.304l4.892 2.823v-16.95l-9.784-5.648h0zm49.922 0l-9.784 5.648v11.296l9.784 5.651 2.937-1.695v-5.652l-2.937 1.696-4.892-2.822v-5.651l4.896-2.826 4.897 2.826v11.304l4.892 2.823v-16.95l-9.785-5.648h0zm43.07 0L8.8 367.691v11.296l9.785 5.651 9.784-5.648v-5.651l-9.784 5.648-4.893-2.822v-5.651l9.784-5.646zm24.466 0l-9.785 5.648v11.296l9.785 5.651 9.784-5.648v-5.65l-9.784 5.647-4.892-2.822v-5.651l9.784-5.645zm-139.23.139l-9.783 5.648v2.825l13.452 7.766-3.668 2.119-6.115-3.53v-1.413l-3.67-2.118v5.647l9.784 5.648 9.782-5.648v-2.823l-13.452-7.767 3.67-2.118 6.114 3.53v1.412l3.668 2.119v-5.652zm55.05 2.68v11.298l-4.891 2.825-4.894-2.825v-11.296l-4.893 2.824v11.297l9.783 5.649 9.786-5.648v-11.298zm110.615 0v11.299l-4.891 2.825-4.894-2.826v-11.296l-4.894 2.824v11.297l9.783 5.649 9.786-5.648v-11.298zm-72.457 2.823l4.892 2.824v5.65l-4.892 2.823-4.892-2.824v-5.649zm89.098 0l4.891 2.824v5.649l-4.891 2.824-4.891-2.824v-5.649zm-65.095 1.413l-4.893 2.825v2.823l2.447 1.413 4.891-2.826v-2.822z" opacity=".3" fill="none" stroke="#000" stroke-width="1.495"/><path d="M95.909 367.69v11.297l-9.782 5.649-.001-5.648 4.894-2.825v-5.65z" opacity=".3"/></g></svg>
    </div>
    <div class="section">
      <h1>Sector's Edge Tournament</h1>
      <p>We will be running a tournament on the 4th of April at 7pm GMT!</p>
      <h2>Info</h2>
      <p>It will be a knockout tournament, where each round is best-of-three on three different maps, on servers chosen for ping fairness.</p>
      <p>As we are streaming the tournament on <a href="https://twitch.tv/vercidium" target="_blank" rel="noopener noreferrer">Twitch</a> and will use recorded footage to advertise the game, we have decided to run the Salvage game mode as it better showcases the game mechanics and maps.</p>
      <h2>Rewards</h2>
      <p>
        10000 <img src="proton.png" alt="protons" title="Protons"> for each player in the winning team.<br>
        5000 <img src="proton.png" alt="protons" title="Protons"> for each player in the runner-up team.
      </p>
      <p>Register your team of 4, or sign up individually and we will place you in a team: <a href="https://sectorsedge.com/tournament" target="_blank" rel="noopener noreferrer">sectorsedge.com/tournament</a>.</p>
      <p>See you all at the Salvage Cup! May the best team win!</p>
      <h2>Watch</h2>
      <p>Streaming at: <a href="https://twitch.tv/vercidium" target="_blank" rel="noopener noreferrer">twitch.tv/vercidium</a>.</p>
    </div>
    <div class="section" id="tournaments">
      <h2>Past Tournaments</h2>
      <% tournaments.forEach((tournament) => {
        const date = new Date(tournament.timestamp * 1000);
      %>
        <div>
          <h1><%= tournament.name %></h1>
          <p>
            Held at <%= date.getUTCHours() > 12 ? date.getUTCHours() - 12 : date.getUTCHours() === 0 ? 12 : date.getUTCHours() %>:<%= `${date.getUTCMinutes() < 10 ? "0" : ""}${date.getUTCMinutes()}` %><%= date.getUTCHours() >= 12 ? "pm" : "am" %> on <%= date.getUTCFullYear() %>-<%= date.getUTCMonth() + 1 %>-<%= date.getUTCDate() %> UTC.
            <a href="<%= tournament.bracket %>" target="_blank" rel="noopener noreferrer">View bracket</a>.
          </p>
          <h2>Statistics</h2>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Player</th>
              </tr>
            </thead>
            <tbody>
              <% tournament.stats.forEach((stat) => { %>
                <tr>
                  <td><%= stat.name %></td>
                  <td><%= stat.value %></td>
                  <td><%= stat.player %></td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <h2>Teams</h2>
          <div class="cards">
            <% tournament.teams.sort((a, b) => a.place > b.place).forEach((team) => { %>
              <div>
                <h2><%= team.name %></h2>
                <p>
                  <%= `${team.place}${team.place === 1 ? "st" : team.place === 2 ? "nd" : team.place === 3 ? "rd" : "th"}` %> place.
                  <% if(tournament.prizes[team.place - 1]){ %>
                    <%= tournament.prizes[team.place - 1] %> <img src="proton.png" alt="protons" title="Protons"> for each player.
                  <% } %>
                </p>
                Members:
                <ul>
                  <% team.members.forEach((player) => { %>
                    <li><%= player %></li>
                  <% }) %>
                </ul>
              </div>
            <% }) %>
          </div>
        </div>
      <% }) %>
    </div>
    <div class="section">
      <h1>Current Teams</h1>
      <div class="cards">
        <% teams.forEach((team) => { %>
          <div>
            <h2><%- team.name %></h2>
            <p>
              <b>Members</b><br>
              <!-- <%- team.members.join("<br>") %> -->
              <% team.members.forEach((member, index) => { %>
                <%- member %> <small>(<%- team.countries[index] %>)</small><br>
              <% }); %>
            </p>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
  <footer>
    <div>
      <div>
        <span>Navigation</span>
        <a class="animated" href="#">Home</a>
        <a class="animated" href="https://sectorsedge.com/" target="_blank" rel="noopener noreferrer">Game</a>
      </div>
      <div>
        <span>Social</span>
        <a class="animated" href="https://store.steampowered.com/app/1024890/Sectors_Edge/" target="_blank" rel="noopener noreferrer">Steam</a>
        <a class="animated" href="https://www.youtube.com/channel/UCMwLVepB4YOgpyo48iyg7HA" target="_blank" rel="noopener noreferrer">YouTube</a>
        <a class="animated" href="https://www.twitch.tv/vercidium" target="_blank" rel="noopener noreferrer">Twitch</a>
        <a class="animated" href="https://www.instagram.com/vercidium/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a class="animated" href="https://www.twitter.com/vercidium/" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a class="animated" href="https://discordapp.com/invite/87NvZhn" target="_blank" rel="noopener noreferrer">Discord</a>
        <a class="animated" href="https://vercidium.itch.io/sectorsedge" target="_blank" rel="noopener noreferrer">Itch</a>
        <a class="animated" href="https://emberapp.gg/profile/580-vercidium/" target="_blank" rel="noopener noreferrer">Ember</a>
      </div>
    </div>
    <p>© 2020 sectorsedge.com</p>
  </footer>
</body>
</html>
